<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>variable</title>
</head>
<body>
<!-- 컨트롤 + 알트 + L : 자동 줄맞춤-->

<!-- 변수 선언 -->
<div th:with="name='홍길순'">
  <div>안녕하세요 저는 <span th:text="${name}"></span>입니다.</div> <!-- 변수 사용 -->
  <div>안녕하세요 저는 <span th:text="${name}"></span>입니다.</div>
  <div>안녕하세요 저는 <span th:text="${name}"></span>입니다.</div>
  <div>안녕하세요 저는 <span th:text="${name}"></span>입니다.</div>
  <div>안녕하세요 저는 <span th:text="${name}"></span>입니다.</div>
</div>

</body>
</html>