<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.domain.article.dao.ArticleDao">
    <insert id="save" parameterType="com.example.basic.domain.article.entity.Article"> <!-- 매개변수가 2개 이상이다. map-->
        INSERT INTO article2
        SET  title = #{title}
        , `body` = #{body}
    </insert>

    <select id="findById" parameterType="long" resultType="com.example.basic.domain.article.entity.Article"> <!-- 매개변수가 1개이다. 해당 매개변수 타입 지정-->
        select * from article2 where id = #{id}
    </select>

    <select id="findAll" resultType="com.example.basic.domain.article.entity.Article">
        SELECT * FROM article2
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM article2 WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.example.basic.domain.article.entity.Article">
        UPDATE article2
        SET title = #{title},
        `body` = #{body}
        WHERE id = #{id}
    </update>
</mapper>