<html lang="ko" layout:decorate="~{global/layout}">
<form action="/login" method="post" layout:fragment="content" class="flex flex-col gap-5 items-center mt-[50px]">
    <input
            type="text"
            name="username"
            placeholder="아이디"
            class="input input-bordered input-primary w-full max-w-xs"/>
    <input
            type="text"
            name="password"
            placeholder="비밀번호"
            class="input input-bordered input-primary w-full max-w-xs"/>
    <input type="submit" value="로그인" class="btn btn-outline btn-primary w-[100px]">
</form>
</html>