<html lang="ko" layout:decorate="~{global/layout}">
<div layout:fragment="content">
    <h1>내가 작성한 게시물</h1>
    <br>
    <ul>
        <li th:each="article : ${myArticleList}">
            <a th:href="@{|/article/detail/${article.id}|}"
               th:text="|${article.id} , ${article.title} , ${article.regDate}|"></a>
        </li>
    </ul>
    <br>
    <hr>
    <h1>내가 작성한 댓글</h1>
    <br>
    <ul>
        <li th:each="comment : ${myCommentList}">
            <a th:href="@{|/article/detail/${comment.article.id}|}"
               th:text="|${comment.article.id} , ${comment.body} , ${comment.regDate}|"></a>
        </li>
    </ul>
</div>
</html>